
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}


#TaskManager {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    width: 300px;
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#createButton {
    width: 40px;
    height: 40px;

    border-radius: 15%;
    border: 1px solid white;
    background: transparent;
    color: white;

    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
}

#taskList input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: transparent;

    accent-color: white; /* modern browsers */

    cursor: pointer;

    margin: 20px;
}
#taskList input[type="text"] {
    flex: 1;

    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;

    padding: 5px;
    outline: none;
}


#createBtn {
    padding: 10px;
    width: 100%;

    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;

    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 50%;
}

/* Container */
.menu-container {
    position: relative;
    margin: 50px;
}
#menuButton {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 40px;
    height: 40px;

    border-radius: 15%;
    border: 1px solid white;
    background: transparent;
    color: white;

    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease;
}


/* Hide menu */
.hidden {
    display: none;
}
#ddropdownButton{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
}

/* Menu items */
#dropdownButton p {
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid white;
}
.crud-element{
    background-color: transparent;
    margin: 40px 0 30px 0px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
}

.crud-element :hover{
    background-color: grey;
    border-radius: 8px;
    padding: 10px;
}